/*
* CSS for Header/Footer
*/

@font-face {
	font-family: Cidea;
	src: url("../fonts/espacio_novo_medium.ttf") format('truetype');
}

body {
	font-size  : 16px !important;
	font-family: 'Open Sans', sans-serif !important;
}

object[type*="svg"] {
	pointer-events: none
}

input {
    border-radius: 0;
    -webkit-appearance: none;
}

textarea:focus, input:focus{
    outline: none;
}

a,a:focus,a:active,button::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,select::-moz-focus-inner,input[type="file"]>input[type="button"]::-moz-focus-inner{border:0;outline:0}a,a:focus,a:active{outline:none}


*:focus {
    outline: none;
}

*::selection {
    background-color: transparent;
}

*::-moz-selection {
    background-color: transparent;
}

* {
    -webkit-user-select        : none;
	-moz-user-select           : -moz-none;
	-ms-user-select            : none;
	user-select                : none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input[type="text"], textarea, [contenteditable] {
	-webkit-user-select: text;
	-moz-user-select   : text;
	-ms-user-select    : text;
	user-select        : text;
}

/*
* HEADER MENU
*/

header {
	display: none !important;
}

header object, header img {
	display: none;
}

.header-svg-container {
	position: relative;
	display: block;
	float: left;
}

.header-fake {
	display: none;
}

nav {
	float: none;
}

.menu {
	padding: 0;
}

.menu li {
	display      : block;
	padding-right: 0;
	text-align: center;
}

.menu li a {
	text-decoration: none;
	color          : #2a6f75;
	line-height    : 3.750em;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.menu li:hover a {
	color: #4bc3c4 !important;
}

.current-menu-item > a {
	color: #4bc3c4 !important;
}

.cidea-burger {
	width            : 2.500em;
	height           : 2.500em;
	background-color : #fff;
	position         : fixed;
	top              : 1.250em;
	left             : 1.250em;
	z-index          : 200;
	border-radius    : 100%;
	opacity          : 0;
	transform        : scale3d(0,0,0);
	-webkit-transform: scale3d(0,0,0);
	animation        : burgerAppear 1s 1s forwards;
	-webkit-animation: burgerAppear 1s 1s forwards;
	overflow: hidden;
}

.moving-cont {
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: 1s all ease-in-out;
	transition       : 1s all ease-in-out;
	-webkit-transition-timing-function: cubic-bezier(1,.11,.39,1);
	transition-timing-function        : cubic-bezier(1,.11,.39,1);
}

.bar-container {
	opacity          : 0;
	animation        : fadeIn 1.8s 1s forwards;
	-webkit-animation: fadeIn 1.8s 1s forwards;
}

.bar1 {
	width: 26px;
	height: 4px;
	background-color: #4cc2c4;
	margin: 8px auto 0 auto;
}

.bar2 {
	width: 26px;
	height: 4px;
	background-color: #4c9399;
	margin: 6px auto 0 auto;
}

.bar3 {
	width: 26px;
	height: 4px;
	background-color: #18504f;
	margin: 6px auto 0 auto;
}

.close-container {
	opacity          : 0;
	animation        : fadeIn 1.8s 1s forwards;
	-webkit-animation: fadeIn 1.8s 1s forwards;
}

.close1 {
	position: absolute;
	top: 42%;
	left: 150%;
	right: 0;
	bottom: 0;
	width: 32px;
	height: 4px;
	background-color: #4cc2c4;
	-webkit-transform: rotate(43deg);
	transform: rotate(43deg);
}

.close2 {
	position: absolute;
	top: 42%;
	left: 150%;
	right: 0;
	bottom: 0;
	width: 32px;
	height: 4px;
	background-color: #4c9399;
	-webkit-transform: rotate(43deg);
	transform: rotate(-43deg);
}

@-webkit-keyframes burgerAppear {
    from { opacity: 0; -webkit-transform: scale3d(0,0,0); border-radius: 100%;}
    to   { opacity: 1; -webkit-transform: scale3d(1,1,1); border-radius: 0; }
}

@keyframes burgerAppear {
    from { opacity: 0; transform: scale3d(0,0,0); border-radius: 100%;}
    to   { opacity: 1; transform: scale3d(1,1,1); border-radius: 0; }
}

/*
* GENERAL SHARED
*/

.centered-container {
	position: absolute;
	top     : 0;
	bottom  : 0;
	left    : 0;
	right   : 0;
}

.centered-container:before {
	content       : '';
	display       : inline-block;
	vertical-align: middle;
	height        : 100%;
}

.centered {
	vertical-align: middle;
	display       : inline-block;
	width         : 90%;
}

.remove-pad-marg {
	margin : 0 !important;
	padding: 0 !important;
}

.no-opacity {
	opacity: 0;
}

.cidea-button {
	height          : 40px;
	width           : 160px;
	position        : relative;
	background-color: rgba(255,255,255,.5);
	border          : 1px solid #c3dfe0;
	margin          : 0 auto;
	color           : #458287;
	font-size       : 14px;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	opacity: 0;
}

.cidea-button:hover {
	border: 1px solid #89b9b8;
	background-color: rgba(255,255,255,0);
}

.one-hundred {
	width: 95%;
}

/*
* FOOTER
*/

.footer-container {
	position           : relative;
	padding-top        : 42.000em;
	background-repeat  : no-repeat;
	background-position: 50% 50%;
	background-size    : auto 65%;
	text-align         : center;
}

.footer-container object, .footer-container img {
	width: 130px;
	margin-bottom: 30px;
}

.footer-container ul {
	padding: 0;
}

.footer-container ul li {
	text-decoration: none;
	list-style: none;
	display: block;
	letter-spacing: 2px;
	color: #2a6f75;
	font-size: 12px;
}

.footer-bg-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;
	opacity: 1;
}

.social-container {
	margin-top: 20px;
}

.social-container ul li {
	position: relative;
	display: inline-block;
	margin: 5px;
}

.social-container object, .social-container img {
	width: 35px;
}

.svg:after {
	content : "";
	position: absolute;
	top     : 0;
	right   : 0;
	bottom  : 0;
	left    : 0;
}

.form-title {
	font-family: Cidea;
	color: #59c8c9;
	font-size: 21px;
	margin: 0 0 10px 0;
}

.submit-btn {
	font-family: Cidea;
	font-size: 20px;
	color: #fff;
	width: 120px;
	height: 40px;
	background-color: #59c8c9;
	border: 1px solid #59c8c9;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
}

.submit-btn:hover {
	color: #59c8c9;
	background-color: #fff;
}

input[type=text] {
	width: 250px;
	height: 34px;
	border: 1px solid #b5ccce;
	padding-left: 10px;
	font-size: 13px;
}

.mobile-menu {
	position: fixed;
	top: 15%;
	bottom: 15%;
	right: 15%;
	left: 15%;
	background-color: rgba(255,255,255,.9);
	z-index: -1;
	opacity: 0;
	transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	border: 1px solid #c9eaea;
}

.mobile-menu-title {
	font-family: Cidea;
	font-size: 35px;
	color: #59c8c9;
	text-align: center;
	margin: 40px 40px 20px 40px;
}

@media all and ( min-width: 768px )  {

	header {
		height          : 3.750em;
		background-color: #fff;
		width           : 100%;
		display         : block !important;
		position: fixed;
		z-index: 200;
		overflow: hidden;
	}

	header object, header img {
		height      : 3.750em;
		padding-left: 2.500em;
		display     : block;
		transform: translate3d(-180px,0,0);
		-webkit-transform: translate3d(-180px,0,0);
		animation        : slideIn 1s forwards;
		-webkit-animation: slideIn 1s forwards;
		opacity: 0;
	}

	.header-fake {
		height          : 3.750em;
		background-color: #fff;
		width           : 100%;
		display         : block !important;
	}

	nav {
		float: right;
	}

	.menu li {
		display: inline-block;
		padding: 0 1.500em;
		transform: translate3d(0,40px,0);
		-webkit-transform: translate3d(0,40px,0);
		animation        : slideUp 1s forwards;
		-webkit-animation: slideUp 1s forwards;
	}

	.current-menu-item {
		background-color: rgba(216,246,229,.2);
		transition: 1s all ease-in;
		-webkit-transition: 1s all ease-in;
	}

	.current-menu-item:hover {
		background-color: rgba(216,246,229,0);
	}

	.cidea-burger {
		display: none;
	}

	.footer-content-container{
		text-align: left;
		padding-left: 7%;
	}

	.footer-container {

		background-position: 95% 50%;
		background-size    : auto 120%;
	}

	.footer-logo-reposition {
		margin-left: -6px;
	}

	.re-position-bg {
		background-size: auto 100% !important;
	}

	.footer-container ul {
		padding: 0;
		text-align: left;
	}

	.social-container ul li {
		margin: 5px 10px 5px 0;
	}

	.form-container {
		text-align: left;
	}
}

/* ANIMATION CLASSES */

.slideUpAnimation {
	transform: translate3d(0,40px,0);
	-webkit-transform: translate3d(0,40px,0);
	animation        : slideUp 1s forwards;
	-webkit-animation: slideUp 1s forwards;
}

.slideUpAnimationSlow {
	transform: translate3d(0,40px,0);
	-webkit-transform: translate3d(0,40px,0);
	animation        : slideUp 2s forwards;
	-webkit-animation: slideUp 2s forwards;
}

.rotateInAnimation {
	transform: rotate(0);
	-webkit-transform: rotate(0);
	transform: scale3d(0,0);
	-webkit-transform: scale3d(0,0);
	animation        : rotateIn .6s forwards;
	-webkit-animation: rotateIn .6s forwards;
}

.slideRightAnimation {
	transform: translate3d(-100px,0,0);
	-webkit-transform: translate3d(-100px,0,0);
	animation        : slideRight 1s forwards;
	-webkit-animation: slideRight 1s forwards;
}

.lowerOpacitySlow {
	animation        : lowerOpacitySlow 4s forwards;
	-webkit-animation: lowerOpacitySlow 4s forwards;
}

.lowerOpacitySlower {
	animation        : lowerOpacitySlower 4s forwards;
	-webkit-animation: lowerOpacitySlower 4s forwards;
}

.fadeInSlow {
	animation        : fadeIn 1.3s forwards;
	-webkit-animation: fadeIn 1.3s forwards;
}

.fadeInSlowWFilter {
	-webkit-filter: grayscale(0) !important;
	filter: grayscale(0) !important;
	opacity: 1 !important;
}

.fadeInSlower {
	animation        : fadeIn 1.8s forwards;
	-webkit-animation: fadeIn 1.8s forwards;
}

.slideRightAnimationFar {
	transform: translate3d(-50px,0,0);
	-webkit-transform: translate3d(-50px,0,0);
	animation        : slideRightFar 2.2s forwards;
	-webkit-animation: slideRightFar 2.2s forwards;
}

.slideLeftAnimationFar {
	transform: translate3d(50px,0,0);
	-webkit-transform: translate3d(50px,0,0);
	animation        : slideLeftFar 2.2s forwards;
	-webkit-animation: slideLeftFar 2.2s forwards;
}

.zoomInAnimation {
	transform: scale3d(.9,.9,0);
	-webkit-transform: scale3d(.9,.9,0);
	animation        : zoomIn 1.2s forwards;
	-webkit-animation: zoomIn 1.2s forwards;
}

@-webkit-keyframes slideIn {
    from { opacity: 0; -webkit-transform: translate3d(-180px,0,0);}
    to   { opacity: 1; -webkit-transform: translate3d(0,0,0); }
}

@keyframes slideIn {
    from { opacity: 0; transform: translate3d(-180px,0,0); }
    to   { opacity: 1; transform: translate3d(0,0,0); }
}

@-webkit-keyframes slideUp {
    from { opacity: 0; -webkit-transform: translate3d(0,40px,0);}
    to   { opacity: 1; -webkit-transform: translate3d(0,0,0); }
}

@keyframes slideUp {
    from { opacity: 0; transform: translate3d(0,40px,0); }
    to   { opacity: 1; transform: translate3d(0,0,0); }
}

@-webkit-keyframes slideRight {
    from { opacity: 0; -webkit-transform: translate3d(-100px,0,0);}
    to   { opacity: 1; -webkit-transform: translate3d(0,0,0); }
}

@keyframes slideRight {
    from { opacity: 0; transform: translate3d(-100px,0,0); }
    to   { opacity: 1; transform: translate3d(0,0,0); }
}

@-webkit-keyframes rotateIn {
    from { opacity: 0; -webkit-transform: rotate(0); -webkit-transform: scale3d(0,0);}
    to   { opacity: 1; -webkit-transform: rotate(-360deg); -webkit-transform: scale3d(1,1); }
}

@keyframes rotateIn {
    from { opacity: 0; transform: rotate(0); transform: scale3d(0,0); }
    to   { opacity: 1; transform: rotate(-360deg); transform: scale3d(0,0); }
}

@-webkit-keyframes lowerOpacitySlow {
    from { opacity: 1; }
    to   { opacity: .8; }
}

@keyframes lowerOpacitySlow {
    from { opacity: 1; }
    to   { opacity: .8; }
}

@-webkit-keyframes lowerOpacitySlower {
    from { opacity: 1; }
    to   { opacity: .9; }
}

@keyframes lowerOpacitySlower {
    from { opacity: 1; }
    to   { opacity: .9; }
}

@-webkit-keyframes slideRightFar {
    0%     { opacity: 0; -webkit-transform: translate3d(-50px,0,0);}
    50%   { opacity: .7; -webkit-transform: translate3d(0,0,0); }
    100%   { opacity: 1; -webkit-transform: translate3d(0,0,0); }
}

@keyframes slideRightFar {
    0% { opacity: 0; transform: translate3d(-50px,0,0); }
    50%   { opacity: .7; transform: translate3d(0,0,0); }
    100%   { opacity: 1; transform: translate3d(0,0,0); }
}

@-webkit-keyframes slideLeftFar {
    0% { opacity: 0; -webkit-transform: translate3d(50px,0,0);}
    50%   { opacity: .5; -webkit-transform: translate3d(0,0,0); }
    100%   { opacity: 1; -webkit-transform: translate3d(0,0,0); }
}

@keyframes slideLeftFar {
    0% { opacity: 0; transform: translate3d(50px,0,0); }
    50%   { opacity: .5; transform: translate3d(0,0,0); }
    100%   { opacity: 1; transform: translate3d(0,0,0); }
}

@-webkit-keyframes zoomIn {
    from { opacity: 0; -webkit-transform: scale3d(.9,.9,0);}
    to   { opacity: 1; -webkit-transform: scale3d(1,1,1); }
}

@keyframes zoomIn {
    from { opacity: 0; transform: scale3d(.9,.9,0); }
    to   { opacity: 1; transform: scale3d(1,1,1); }
}
