/*
* CSS for Header/Footer
*/

@font-face {
	font-family: Cidea;
	src: url("../fonts/espacio_novo_medium.ttf") format('truetype');
}

body {
	font-size  : 16px !important;
	font-family: 'Open Sans', sans-serif !important;
}

/*
* HEADER MENU
*/

header {
	display: none !important;
}

header object, header img {
	display: none;
}

nav {
	float: right;
}

.menu li {
	display      : inline-block;
	padding-right: 2.500em;
}

.menu li a {
	text-decoration: none;
	color          : #2a6f75;
	line-height    : 3.750em;
}

.current-menu-item > a {
	color: #4bc3c4 !important;
}

.cidea-burger {
	width            : 2.500em;
	height           : 2.500em;
	background-color : #fff;
	position         : fixed;
	top              : 1.250em;
	left             : 1.250em;
	z-index          : 200;
	border-radius    : 100%;
	opacity          : 0;
	transform        : scale3d(0,0,0);
	-webkit-transform: scale3d(0,0,0);
	animation        : burgerAppear 1s .5s forwards;
	-webkit-animation: burgerAppear 1s .5s forwards;
}

.bar-container {
	opacity          : 0;
	animation        : fadeIn 1.8s 1s forwards;
	-webkit-animation: fadeIn 1.8s 1s forwards;
}

.bar1 {
	width: 26px;
	height: 4px;
	background-color: #4cc2c4;
	margin: 8px auto 0 auto;
}

.bar2 {
	width: 26px;
	height: 4px;
	background-color: #4c9399;
	margin: 6px auto 0 auto;
}

.bar3 {
	width: 26px;
	height: 4px;
	background-color: #18504f;
	margin: 6px auto 0 auto;
}

@-webkit-keyframes burgerAppear {
    from { opacity: 0; -webkit-transform: scale3d(0,0,0); border-radius: 100%;}
    to   { opacity: 1; -webkit-transform: scale3d(1,1,0); border-radius: 0; }
}

@keyframes burgerAppear {
    from { opacity: 0; transform: scale3d(0,0,0); border-radius: 100%;}
    to   { opacity: 1; transform: scale3d(1,1,1); border-radius: 0; }
}

/*
* GENERAL SHARED
*/

.centered-container {
	position: absolute;
	top     : 0;
	bottom  : 0;
	left    : 0;
	right   : 0;
}

.centered-container:before {
	content       : '';
	display       : inline-block;
	vertical-align: middle;
	height        : 100%;
}

.centered {
	vertical-align: middle;
	display       : inline-block;
	width         : 90%;
}

.remove-pad-marg {
	margin : 0 !important;
	padding: 0 !important;
}

.cidea-button {
	height          : 40px;
	width           : 160px;
	position        : relative;
	background-color: #fff;
	border          : 1px solid #89b9b8;
	margin          : 0 auto;
	color           : #458287;
}

/*
* FOOTER
*/

.footer-container {
	position           : relative;
	padding-top        : 30.000em;
	background-repeat  : no-repeat;
	background-position: 48% 50%;
	background-size    : auto 80%;
	text-align         : center;
}

.footer-bg-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;
	opacity: .8;
}

@media all and ( min-width: 768px )  {

	header {
		height          : 3.750em;
		background-color: #fff;
		width           : 100%;
		display         : block !important;
	}

	header object, header img {
		height      : 3.750em;
		padding-left: 2.500em;
		display     : block;
		float       : left;
	}

	.cidea-burger {
		display: none;
	}

	.footer-container {
		padding-top        : 31.25%; /*height/widthx100*/
		background-position: 95% 50%;
		background-size    : auto 120%;
	}
}