/*
* CSS for Homepage
*/

.top-banner-container {
	position         : relative;
	padding-top      : 31.25%; /*height/widthx100*/
	background-repeat: repeat-x;
	background-size  : cover;
	text-align       : center;
}

.top-banner-container svg, .top-banner-container img{
	height: 40%;
}

.logo-circle-1 {
	opacity: 0;
	animation: fadeIn 1s 1.5s forwards;
}

.logo-circle-2 {
	opacity: 0;
	animation: fadeIn 1s 1.4s forwards;
}

.logo-circle-3 {
	opacity: 0;
	animation: fadeIn 1s 1.3s forwards;
}

.logo-circle-4 {
	opacity: 0;
	animation: fadeIn 1s 1.2s forwards;
}

.logo-circle-5 {
	opacity: 0;
	animation: fadeIn 1s 1.1s forwards;
}

.logo-circle-6 {
	opacity: 0;
	animation: fadeIn 1s 1s forwards;
}

.logo-circle-7 {
	opacity: 0;
	animation: fadeIn 1s .9s forwards;
}

.logo-circle-8 {
	opacity: 0;
	animation: fadeIn 1s .8s forwards;
}

.logo-circle-9 {
	opacity: 0;
	animation: fadeIn 1s .7s forwards;
}

.logo-circle-10 {
	opacity: 0;
	animation: fadeIn 1s .6s forwards;
}

.logo-circle-11 {
	opacity: 0;
	animation: fadeIn 1s .5s forwards;
}

.logo-c {
	opacity: 0;
	animation: fadeIn 1s .6s forwards;
}

.logo-i {
	opacity: 0;
	animation: fadeIn 1s .8s forwards;
}

.logo-d {
	opacity: 0;
	animation: fadeIn 1s 1s forwards;
}

.logo-e {
	opacity: 0;
	animation: fadeIn 1s 1.2s forwards;
}

.logo-a {
	opacity: 0;
	animation: fadeIn 1s 1.4s forwards;
}


@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}