/*
* CSS for Homepage
*/

.top-banner-container {
	position           : relative;
	padding-top        : 30.000em;
	background-repeat  : repeat-x;
	background-position: center;
	background-size    : cover;
	text-align         : center;
}

.top-banner-container svg, .top-banner-container img {
	height: 40%;
	width : 60%;
}

.left-section-container {
	padding-top        : 30.000em;
	position           : relative;
	background-repeat  : repeat-x;
	background-size    : cover;
	background-position: center;
	text-align         : center;
}

.right-section-container {
	padding-top        : 25.000em;
	position           : relative;
	text-align         : center;
}

.bottom-section-container {
	padding-top        : 30.000em;
	position           : relative;
	background-repeat  : repeat-x;
	background-size    : cover;
	background-position: center;
	text-align         : center;
}

.bottom-section-container img, .bottom-section-container object {
	width:20px;
}

.bottom-section-container .cidea-button {
	margin-top: 120px;
}

.gradient-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255,255,255,0);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

.how-we-help-ul {
	margin: 0;
	padding: 0;
	font-family: Cidea;
	font-size: 34px;
}

.how-we-help-ul li {
	text-decoration: none;
	list-style: none;
	display: block;
}

.how-we-help-ul li:nth-child(even) {
	margin-bottom: 10%;
}

.how-we-help-ul li:nth-child(even) img, .how-we-help-ul li:nth-child(even) object {
	width: 15px;
}

.middle-section-title {
	font-family: Cidea;
	font-size: 27px;
	margin: 0 auto 30px auto;
}

.middle-section-paragraph {
	font-size: 14px;
	color: #2a6f75;
	margin: 0 auto;
}

.bottom-section-title {
	font-family: Cidea;
	font-size: 27px;
	width: 50%;
	margin: 0 auto;
}

/*
* Animation Classes
*/

.logo-circle-1 {
	opacity: 0;
	animation: fadeIn 1s 2.4s forwards;
	-webkit-animation: fadeIn 1s 2.4s forwards;
}

.logo-circle-2 {
	opacity: 0;
	animation: fadeIn 1s 2.3s forwards;
	-webkit-animation: fadeIn 1s 2.3s forwards;
}

.logo-circle-3 {
	opacity: 0;
	animation: fadeIn 1s 2.2s forwards;
	-webkit-animation: fadeIn 1s 2.2s forwards;
}

.logo-circle-4 {
	opacity: 0;
	animation: fadeIn 1s 2.1s forwards;
	-webkit-animation: fadeIn 1s 2.1s forwards;
}

.logo-circle-5 {
	opacity: 0;
	animation: fadeIn 1s 2s forwards;
	-webkit-animation: fadeIn 1s 2s forwards;
}

.logo-circle-6 {
	opacity: 0;
	animation: fadeIn 1s 1.9s forwards;
	-webkit-animation: fadeIn 1s 1.9s forwards;
}

.logo-circle-7 {
	opacity: 0;
	animation: fadeIn 1s 1.8s forwards;
	-webkit-animation: fadeIn 1s 1.8s forwards;
}

.logo-circle-8 {
	opacity: 0;
	animation: fadeIn 1s 1.7s forwards;
	-webkit-animation: fadeIn 1s 1.7s forwards;
}

.logo-circle-9 {
	opacity: 0;
	animation: fadeIn 1s 1.6s forwards;
	-webkit-animation: fadeIn 1s 1.6s forwards;
}

.logo-circle-10 {
	opacity: 0;
	animation: fadeIn 1s 1.5s forwards;
	-webkit-animation: fadeIn 1s 1.5s forwards;
}

.logo-circle-11 {
	opacity: 0;
	animation: fadeIn 1s 1.4s forwards;
	-webkit-animation: fadeIn 1s 1.4s forwards;
}

.logo-c {
	opacity: 0;
	animation: fadeIn 1s .6s forwards;
	-webkit-animation: fadeIn 1s .6s forwards;
}

.logo-i {
	opacity: 0;
	animation: fadeIn 1.2s .8s forwards;
	-webkit-animation: fadeIn 1.2s .8s forwards;
}

.logo-d {
	opacity: 0;
	animation: fadeIn 1.4s 1s forwards;
	-webkit-animation: fadeIn 1.4s 1s forwards;
}

.logo-e {
	opacity: 0;
	animation: fadeIn 1.6s 1.2s forwards;
	-webkit-animation: fadeIn 1.6s 1.2s forwards;
}

.logo-a {
	opacity: 0;
	animation: fadeIn 1.8s 1.4s forwards;
	-webkit-animation: fadeIn 1.8s 1.4s forwards;
}


@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media all and ( min-width: 768px )  {
	.top-banner-container {
		padding-top: 31.25%; /*height/widthx100*/
	}

	.left-section-container {
		padding-top: 62.5%; /*height/widthx100*/
	}

	.gradient-overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(255,255,255,0);
		background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
		background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
		background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
		background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
		background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
	}

	.right-section-container {
		text-align: left;
		padding-top: 62.5%;
	}

	.how-we-help-ul li:nth-child(even) {
		margin-bottom: 4%;
	}

	.middle-section-paragraph {
		width: 75%;
	}

	.middle-section-title {
		width: 75%;
	}
}