/*
* CSS for How We Help Page
*/

.top-section-container {
	text-align: center;
	margin    : 100px 0 0 0;
}

.top-section-container h1 {
	font-family: Cidea;
	font-size  : 48px;
	color      : #2a6f75;
	opacity: 0;
}

.large-title-swirl {
	margin: 0 0 50px 0;
	opacity: 0;
}

.large-title-swirl object, .large-title-swirl img {
	width: 30px;
}

.top-section-content {
	width: 85%;
	margin: 0 auto;
	font-size: 14px;
}

.top-section-content p {
	margin: 0;
}

.top-section-content object, .top-section-content img {
	width: 20px;
	opacity: .2;
	margin: 12px 0;
}

.second-section-container {
	margin-bottom: 20px;
}

.second-section-container h2 {
	font-family: Cidea;
	font-size  : 48px;
	color      : #2a6f75;
	margin     : 65px 0 40px 0;
	text-align : center;
}

.second-section-container h3 {
	font-family: Cidea;
	font-size  : 36px;
	color      : #54a7b7;
	margin     : 0;
	padding    : 0;
}

.second-section-container img {
	width: 100%;
}

.second-section-container ul {
	padding: 10px 0 0 20px;
}

.second-section-container ul li {
	font-size: 14px;
}

.business-case-cont {
	position: relative;
	padding-top: 100%;
	opacity: 0;
}

.business-case-cont-img {
	position: relative;
	padding-top: 50%;
	opacity: 0;
}

.bg {
	background-repeat: no-repeat;
	background-size: contain;
}

.content-container {
	width: 75%;
	margin: 0 auto;
}

.third-section-container {
	position: relative;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	padding: 40px 0;
	margin: 45px auto 45px auto;
}

.third-section-container h3 {
	font-family: Cidea;
	font-size  : 48px;
	color      : #2a6f75;
	margin     : 0 0 40px 0;
	text-align : center;
	position   : relative;
	opacity: 0;
}

.third-section-content {
	width: 85%;
	margin: 0 auto;
	font-size: 14px;
	text-align : center;
	position: relative;
	opacity: 0;
}

.third-section-bg-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 1;
	background-color: #fff;
}

#hwh-section1 {
	background-color: rgba(76,194,196,.2);
}

#hwh-section2 {
	background-color: rgba(76,147,153,.2);
}

#hwh-section3 {
	background-color: rgba(24,80,79,.2);
}

@media all and ( min-width: 768px )  {

	.top-section-container h1 {
		font-size  : 60px;
	}

	.second-section-container h2 {
		font-size  : 60px;
		margin: 80px 0 80px 0;
	}

	.bottom-section-container h3 {
		font-size  : 60px;
	}

	.content-container {
		width: 50%;
	}

	.second-section-container {
		margin-bottom: 70px;
	}

	.top-section-content {
		width: 50%;
		font-size: 16px;
	}

	.bottom-section-content {
		width: 60%;
	}

	.large-title-swirl object, .large-title-swirl img {
		width: 40px;
	}

	.business-case-cont {
		padding-top: 50%;
	}

	.third-section-content {
		font-size: 16px;
		width: 50%;
	}

	.third-section-container {
		margin: 0 auto 75px auto;
	}

}

@media all and ( min-width: 1600px )  {
	
	.second-section-container h3 {
		font-size  : 46px;
	}
}