/*
* CSS for How We Help Page
*/

.top-section-container {
	text-align: center;
	margin    : 100px 0 0 0;
}

.top-section-container h1 {
	font-family: Cidea;
	font-size  : 48px;
	color      : #2a6f75;
}

.large-title-swirl {
	margin: 0 0 50px 0;
}

.large-title-swirl object, .large-title-swirl img {
	width: 30px;
}

.top-section-content {
	width: 85%;
	margin: 0 auto;
	font-size: 14px;
}

.top-section-content object, .top-section-content img {
	width: 20px;
	opacity: .2;
	margin: 12px 0;
}

.second-section-container h2 {
	font-family: Cidea;
	font-size  : 48px;
	color      : #2a6f75;
	margin     : 75px 0 40px 0;
	text-align : center;
}

.second-section-container h3 {
	font-family: Cidea;
	font-size  : 36px;
	color      : #4cc2c4;
	margin     : 0;
	padding    : 0;
}

.second-section-container img {
	width: 100%;
}

.second-section-container ul {
	padding: 10px 0 0 20px;
}

.second-section-container ul li {
	font-size: 14px;
}

.business-case-cont {
	position: relative;
	padding-top: 75%;
	margin-bottom: 40px;
}

.business-case-cont-img {
	position: relative;
	padding-top: 50%;
	margin-bottom: 40px;
}

.bg {
	background-repeat: no-repeat;
	background-size: contain;
}

.content-container {
	width: 75%;
	margin: 0 auto;
}

.third-section-container {
	position: relative;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	padding: 40px 0;
	margin: 45px auto 75px auto;
}

.third-section-container h3 {
	font-family: Cidea;
	font-size  : 48px;
	color      : #4cc2c4;
	margin     : 0 0 40px 0;
	text-align : center;
	position   : relative;
}

.third-section-content {
	width: 85%;
	margin: 0 auto;
	font-size: 14px;
	text-align : center;
	position: relative;
}

@media all and ( min-width: 768px )  {

	.top-section-container h1 {
		font-size  : 60px;
	}

	.second-section-container h2 {
		font-size  : 60px;
	}

	.bottom-section-container h3 {
		font-size  : 60px;
	}

	.content-container {
		width: 50%;
	}

	.top-section-content {
		width: 60%;
		font-size: 16px;
	}

	.bottom-section-content {
		width: 60%;
	}

	.large-title-swirl object, .large-title-swirl img {
		width: 40px;
	}

	.second-section-container h2 {
		margin     : 100px 0 90px 0;
	}

	.business-case-cont {
		padding-top: 50%;
		margin-bottom: 100px;
	}

	.business-case-cont-img {
		margin-bottom: 100px;
	}

	.third-section-content {
		font-size: 16px;
		width: 60%;
	}

	.third-section-container {
		margin: 0 auto 75px auto;
	}

}